* {
    margin: 0;
    list-style: none;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
}

.header-bar {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 1.5em;

    h1 {
        grid-column: 2;
        grid-row: 1;
        font-size: var(--first-line);
        color: var(--white);
    }

    a {
        grid-column: 1;
        justify-self: start;

        &:hover svg, &:hover svg > * {
            fill: var(--secondary-action);
            stroke: var(--secondary-action);
        }
    }
}