* {
    margin: 0;
    list-style: none;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.header-bar {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 1.5em;
}

.photos-snappmap {
    img {
        width: 4em;
    }
}

footer {
    display: none;
}
