* {
    margin: 0;
    list-style: none;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    a {
        border-radius: 50px;
        display: flex;
        place-items: center;
        flex-direction: column;
        text-decoration: none;

        .nav-label {
            color: var(--white);
        }

        &:hover {
            color: var(--white);
            text-decoration: underline;
            }

        &:focus-visible {
            outline: 3px solid var(--secondary-action);
            outline-offset: .3em;
        }
    }
}

.header-bar {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 1.5em;

    .header-title {
        grid-column: 2;
        justify-self: center;
        color: var(--white);
        font-size: var(--first-line);
        font-weight: 700;
    }

    a {
        grid-column: 3;
        justify-self: end;
        display: flex;
        flex-direction: row;
        place-items: center;
        text-decoration: none;


        .nav-label {
            color: var(--white);
            cursor:pointer ;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.user-name {
    font-size: var(--first-line);
    line-height: 2em;
    padding-top: 1.2em;
}

.user-section {
    width: 100dvw;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1.3fr;
    background-color: var(--grey-background);
    color: var(--primary-color);
}

.user-info {
    display: grid;
    place-items: center;

    p:first-of-type  {
        color: var(--add-action);
        }

    p:last-of-type  {
        font-weight: 700;
        color: var(--add-action);
    }
}

.user-activity-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        gap: 4em;

        li {
            place-items: center;

            svg, svg > * {
                fill: var(--primary-color);
            }
        }
    }

.user-activity-list svg {
    color: var(--primary-color);
    }

.photos-snappmap {
    img {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        gap: 1em;
        width: 4em;
        height: 4em;
    }
}

footer {
    display: none;
}
