* {
    margin: 0;
    list-style: none;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    a {
        border-radius: 50px;
        display: flex;
        place-items: center;
        flex-direction: column;
        text-decoration: none;

        .nav-label {
            color: var(--white);
        }

        &:focus-visible {
            outline: 3px solid var(--secondary-action);
            outline-offset: .3em;
        }
    }
}

.header-bar {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 1.5em;
}

.photos-snappmap {
    img {
        width: 4em;
    }
}

footer {
    display: none;
}
