* {
    margin: 0;
    list-style: none;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.header-bar {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 1.5em;

    .settings-title {
        grid-column: 2;
        color: var(--white);
        grid-row: 1;
        font-size: var(--first-line);
    }

    a {
        grid-column: 1;
        justify-self: start;
    }
}

.settings-list {
    display: flex;
    flex-direction: column;
    background-color: var(--grey-background);
    gap: .1em;
    font-size: var(--second-line);
    padding-left: 0;

    li {
        padding-left: 1em;
        background-color: var(--white);
        padding: .8em;

        a {
            text-decoration: none;
            color: var(--primary-color);

            &:hover {
                color: #00B832;
                transition: 0.1s ease-in;
            }

            &:active {
                color: var(--secondary-action);
                transition: 0.1s ease-in;
            }
        }

        .only-text-button {
            color: var(--primary-color);
            font-weight: 400;

            &:hover {
                color: var(--tomato-button);
            }
        }
    }
}